<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/tx 
	 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	 ">
	 	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	 		<property name="viewClass">
	 			<value>org.springframework.web.servlet.view.JstlView</value>
	 		</property>
	 		<property name="prefix">
	 			<value>/WEB-INF/jsp/</value>
	 		</property>
	 		<property name="suffix">
	 			<value>.jsp</value>
	 		</property>
	 	</bean>
	 	
	 	<!-- Hibernate Config -->
	 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 		<property name="location">
	 			<value>classpath:hibernate.properties</value>
	 		</property>
	 	</bean>
	 	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	 		<property name="driverClassName" value="${hibernate.connection.driver_class}"></property>
	 		<property name="url" value="${hibernate.connection.url}"></property>
	 		<property name="username" value="${hibernate.connection.username}"></property>
	 		<property name="password" value="${hibernate.connection.password}"></property>
	 	</bean>
	 	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	 		<property name="dataSource"><ref bean="dataSource"/></property>
	 		<property name="mappingResources">
	 			<list>
	 				<value>com\hyx\dao\UserInfo.hbm.xml
					</value>
					<value>com\hyx\dao\DeptInfo.hbm.xml
					</value>
				</list>
	 		</property>
	 		<property name="hibernateProperties">
	 			<props>
	 				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
					</prop>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.format_sql">true</prop>
	 			</props>
	 		</property>
	 	</bean>
	 	
	 	<!-- Define transaction manager -->
	 	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	 		<property name="sessionFactory" ref="sessionFactory"></property>
	 	</bean>
	 	<!-- Annotation driver -->
	 	<tx:annotation-driven transaction-manager="transactionManager" />
	 	
	 	<bean id="userInfoDao" class="com.hyx.dao.UserInfoDao">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
		</bean>
		<bean id="deptInfoDao" class="com.hyx.dao.DeptInfoDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		
		<!-- File name maps to controller -->
	 	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	 		<property name="mappings">
	 			<props>

				<prop key="/admin.html">forwardController</prop>
				<prop key="/top.html">forwardController</prop>
				<prop key="/left.html">forwardController</prop>
				<prop key="/main.html">forwardController</prop>
				<prop key="/bottom.html">forwardController</prop>
				<prop key="/userInfo.html">forwardController</prop>
				<prop key="/insertOrUpdateDept.html">insertOrUpdateDept</prop>
				<prop key="/index.html">userLogin</prop>
				<prop key="/deptOperation.html">deptOperation</prop>
				<prop key="/userOperation.html">userOperation</prop>
			</props>
	 		</property>
	 	</bean>
	 	
	 	<!-- View Controller -->
	 	<bean id="forwardController"
			class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />
		
		<bean id="insertOrUpdateDept"
			class="org.springframework.web.servlet.mvc.ParameterizableViewController">
			<property name="viewName" value="dept/insertOrUpdateDept" />
		</bean>
		<bean id="insertUser"
			class="org.springframework.web.servlet.mvc.ParameterizableViewController">
			<property name="viewName" value="user/insertUser" />
		</bean>
		
		<!-- Form controller -->
		<bean id="userLogin" class="com.hyx.controller.UserLoginController">
			<property name="commandClass"><value>com.hyx.dao.UserInfo</value></property>
			<property name="sessionForm"><value>true</value></property>
			<property name="formView"><value>index</value></property>
			<property name="successView"><value>admin</value></property>
			<property name="userInfoDao" ref="userInfoDao"></property>
			<property name="deptInfoDao" ref="deptInfoDao"></property>
		</bean>
		
		<!-- Multi action controller -->
		<bean id="deptOperation" class="com.hyx.controller.DeptOperationController">
			<property name="userInfoDao" ref="userInfoDao"></property>
			<property name="deptInfoDao" ref="deptInfoDao"></property>
			<property name="methodNameResolver" ref="methodNameResolver"></property>
		</bean>
		
		<bean id="userOperation" class="com.hyx.controller.UserOperationController">
			<property name="userInfoDao" ref="userInfoDao"></property>
			<property name="deptInfoDao" ref="deptInfoDao"></property>
			<property name="fileUpload" ref="fileUpload"></property>
			<property name="methodNameResolver" ref="methodNameResolver"></property>
		</bean>
		
		<!-- Method name parser -->
		<bean id="methodNameResolver"
			class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
			<property name="paramName" value="method" />
		</bean>

		<bean id="fileUpload" class="com.hyx.controller.FileUpload">
			<property name="userInfoDao" ref="userInfoDao" />
		</bean>
	 </beans>